.preview-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1199px) {
    .preview-card {
        flex-direction: column;
        width: 350px;
    }
}
@media only screen and (min-width: 1200px) {
    .preview-card {
        flex-direction: row;
        width: 990px;
        height: 680px;
    }
}