.card-section {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.sedans-section {
    background-color: var(--bright-orange);
}
.suvs-section {
    background-color: var(--dark-cyan);
}
.luxury-section {
    background-color: var(--very-dark-cyan);
}
.card-info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 1199px) {
    .card-section {
        width:310px;
        padding: 40px;
    }
    .sedans-section {
        border-radius: 12px 12px 0px 0px;
    }
    .luxury-section {
        border-radius: 0px 0px 12px 12px;
    }
}
@media only screen and (min-width: 1200px) {
    .card-section {
        width:330px;
        padding: 0px 50px;
    }
    .sedans-section {
        border-radius: 12px 0px 0px 12px;
    }
    .luxury-section {
        border-radius: 0px 12px 12px 0px;
    }
}